.field-text {
  position: relative;

  &__text {
    position: absolute;
    bottom: 10px;
    left: 0;
    z-index: 3;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    font-family: inherit;
    color: #999999;
    transform-origin: left;
    cursor: text;
    transition-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
    transition-duration: 0.15s;
    transition-property: transform;
    pointer-events: none;
    will-change: transform;
    width: 100%;

    &::after {
      content: "Обязательное поле";
      font-size: 10px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &__input {
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    width: 100%;
    padding-top: 21px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 20px;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    font-family: inherit;
    color: #000000;
    background-color: #ffffff;
    border: 0;
    border-bottom: 1px solid #e6e6e6;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    transition-duration: 0.2s;
    transition-property: border-color;
    appearance: none;

    &::placeholder {
      color: transparent;
    }

    &:focus {
      padding-bottom: 9px;
      border-bottom: 2px solid #6bace1;

      & + .field-text__text {
        transform: translateY(-20px);
      }
      // & ~ .field-text__error-message {
      //   transform: translate(60px, -20px) scale(0.9);
      // }
    }

    &:required {

    }

    &:valid + .field-text__text {
      transform: translateY(-20px);
    }
  }

  &__error-message {
    position: absolute;
    bottom: 10px;
    left: 0;
    z-index: 5;
    font-size: 13px;
    line-height: 18px;
    color: #ff2626;
    white-space: normal;
    transition-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
    transition-duration: 0.15s;
    transition-property: transform;
    pointer-events: none;
    will-change: transform;
  }

  &--error {

    .field-text__input {
      border-color: #ff2626;

      &:focus {

        & ~ .field-text__error-message {
          transform: translate(60px, -20px);
        }
      }
    }

    .field-text__text {
      transform: translateY(-20px);
    }
  }

  &--fill {

    .field-text__error-message {
      transform: translate(60px, -20px);
    }
  }
}
