.field-checkbox {
  position: relative;
  padding-bottom: 15px;

  &--error {

    .field-checkbox__error-message {
      display: block;
    }
  }

  &__input {
    @include visually-hidden;

    &:focus {

      // & + .field-checkbox__name-text {
      //
      //   &::after {
      //     opacity: 0.3;
      //     border-color: #d8d8d8;
      //   }
      // }
    }
  }

  &__name-text {
    position: relative;
    display: inline-block;
    padding-left: 30px;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #999999;
    cursor: pointer;
    /* border*/
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      box-sizing: border-box;
      width: 20px;
      height: 20px;
      border: 2px solid #d8d8d8;
      border-radius: 0;
      transform: translateY(-50%);
      transition-duration: 0.12s;
      transition-property: border-color;
    }
    /* center part*/
    &::after {
      box-sizing: border-box;
      content: "";
      position: absolute;
      width: 12px;
      height: 8px;
      top: 50%;
      margin-top: -6px;
      left: 4px;
      border: 3px solid #6b9bc2;
      opacity: 0;
      border-top: none;
      border-right: none;
      transition-duration: 0.12s;
      transition-property: opacity;
      transform: rotate(-45deg);
    }

    // &:hover {
    //
    //   &::after {
    //     opacity: 0.3;
    //     border-color: #d8d8d8;
    //   }
    // }
  }

  &__error-message {
    position: absolute;
    bottom: 0;
    left: 30px;
    display: none;
    font-size: 13px;
    line-height: 15px;
    color: #ff2626;
  }

  &__input:checked + .field-checkbox__name-text {

    &::before {
      border-color: #6b9bc2;
    }

    // &:hover::after {
    //   opacity: 1;
    // }

    &::after {
      opacity: 1;
    }
  }

  &__input:disabled + .field-checkbox__name-text {
    cursor: not-allowed;
    opacity: 0.4;
  }

  &__input:disabled:checked + .field-checkbox__name-text {

    &:hover::after {
      background-color: #ffbf00;
    }
  }
}
