.field-checkbox {
  position: relative;
  padding-bottom: 30px;

  &--error {

    .field-checkbox__error-message {
      display: block;
    }
  }

  &__input {
    @include visually-hidden;
  }

  &__name-text {
    position: relative;
    display: inline-block;
    padding-left: 40px;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;

    @media (max-width: $tablet-width) {
      font-size: 12px;
      line-height: 15px;
    }
    /* border*/
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 28px;
      height: 28px;
      border: 1px solid #334768;
      border-radius: 0;
      transform: translateY(-50%);
      transition-duration: 0.12s;
      transition-property: border-color;
    }
    /* center part*/
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 8px;
      width: 14px;
      height: 10px;
      background-image: url("../img/inline/icon-checkbox.png");
      background-repeat: no-repeat;
      transform: translateY(-50%);
      opacity: 0;
      transition-duration: 0.12s;
      transition-property: opacity;
    }

    &:hover {

      &::before {
        border-color: #556581;
      }

      &::after {
        opacity: 0.3;

        @media (max-width: $desktop-width) {
          opacity: 0;
        }
      }
    }
  }

  &__error-message {
    position: absolute;
    bottom: 0;
    left: 40px;
    display: none;
    font-size: 13px;
    line-height: 15px;
    color: #ff2626;

    @media (max-width: $tablet-width) {
      font-size: 10px;
      line-height: 14px;
    }
  }

  &__input:checked + .field-checkbox__name-text {

    &:hover::after {
      opacity: 1;
    }

    &::after {
      opacity: 1;
    }
  }

  &__input:disabled + .field-checkbox__name-text {
    cursor: not-allowed;
    opacity: 0.4;
  }

  &__input:disabled:checked + .field-checkbox__name-text {

    &:hover::after {
      background-color: #ffbf00;
    }
  }
}
