mixin field-checkbox(text, count)
  .field-checkbox
    .field-checkbox__input-wrap
      label.field-checkbox__name
        input(type="checkbox")&attributes(attributes).field-checkbox__input
        span.field-checkbox__name-text= text
        span.field-checkbox__error-message Согласие на обработку персональных данных обязательно!
